// color * * *
$white: #ffffff;
$black: #000000;
$gray: #4b4b4b;

$blue-light: #e0f0fc;
$blue-default: #c1dff8;
$blue-dropdown: #4a9adc;

$border-light: #d3d3d3;
$border-secondary: #a2a2a2;
$border-default: #808080;
$border-dark: #4b4b4b;

$shadow-default: #0000000d;
$shadow-dark: #0000001f;

$bg-gray: #f6f6f6;
$bg-dropdown: #00000002;

// fontSize * * *
$font-size-xs: 15px;
$font-size-sm: 17px;
$font-size-md: 20px;
$font-size-lg: 25px;

$font-size-card: 18px;

// Header * * *
$header-height: 85px;
$logo-width: 235px;
$user-size: 43px;

// Component * * *
$main-width: 1230px;

$subject-width: 85px;
$subject-height: 50px;

$dropdown-width: 110px;
$user-img-size: 150px;

$card-width: 273px;
$card-height: 200px;

$simple-card-width: 310px;

// image * * *
$login-btn: url('/image/kakao_btn.png');
$search-btn: url('/image/search_icon.png');
$scrap-off: url('/image/scrap_off.png');
