@import '../../variable.module';
@import '../../mixins.module';

.search_page {
  @include mainContainer;

  .main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    width: 100%;
    align-items: center;

    .main_container {
      display: flex;
      flex-direction: column;

      width: $main-width;
      padding: 10px 45px;

      .select_container {
        display: flex;
        
        padding: 17px 0;
        gap: 30px;

        select {
          width: 120px;
          height: 45px;
          padding: 7px;

          border: 1px solid $border-secondary;
          border-radius: 10px;

          font-size: $font-size-sm;
          font-family: 'Noto Sans KR', sans-serif;
        }
      }

      .keyword_container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        height: 70px;
        padding: 0 20px;
        gap: 10px;

        border: 1px solid $border-secondary;
        border-radius: 10px;

        .search_keyword {
          padding: 10px 15px;
          border-radius: 20px;

          background-color: $bg-gray;
        }
      }

      .result_container {
        display: flex;
        flex-direction: column;

        padding: 20px 0;

        .result_text {
          padding: 15px 0;
          font-size: $font-size-sm;
        }
      }

      .list_container {
        display: flex;
        flex-direction: column;

        border-top: 1px solid $border-dark;

        .list_item {
          display: flex;
          justify-content: space-between;
          align-items: center;

          padding: 40px 30px;
          border-bottom: 1px solid $border-light;

          .left_item {
            display: flex;
            flex-direction: column;

            padding: 0 30px;
            gap: 15px;

            .item_title {
              display: flex;
              gap: 10px;

              color: $gray;

              p {
                color: $gray;
                font-size: $font-size-md;

                &:nth-child(2) {
                  color: $black;

                  &::before {
                    content: '|';
                    padding: 0 15px;
                  }
                }
              }
            }
          }

          button {
            display: inline-block;

            width: 32px;
            height: 32px;
            border: none;

            background: $scrap-off;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            cursor: pointer;
          }
        }
      }
    }
  }
}
