.main_page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 85px;

    padding: 40px;
    border-bottom: 1px solid lightgray;

    .logo {
      width: 250px;
      height: 50px;
    }

    .user {
      position: absolute;
      right: 40px;

      width: 43px;
      height: 43px;

      border-radius: 100%;
      border: 1px solid black;
      background-color: white;

      cursor: pointer;
    }
  }
}
