.main_page {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 100vh;

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: calc(100vh - 85px);

    .subject_container {
      display: flex;
      align-items: center;

      width: 80%;
      padding: 15px 45px;
      gap: 10px;

      .subject_text {
        font-size: 20px;

        &::after {
          content: '|';
          padding: 0 20px;
        }
      }

      .subject {
        display: flex;
        gap: 20px;

        @mixin item {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 85px;
          height: 50px;

          font-size: 20px;
          border-radius: 13px;
          cursor: pointer;
        }

        .subject_item {
          @include item;

          &:hover {
            background-color: #b6dbf96d;
            transition: background-color 0.3s;
          }
        }

        .selected_item {
          @include item;
          background-color: #6db4ef6d;
        }
      }
    }

    .main_item {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 100%;
      height: 100%;
      background-color: rgb(246, 246, 246);

      .tutor_container {
        display: flex;
        flex-direction: column;

        gap: 13px;
        padding: 20px 45px;

        width: 80%;
        height: 100%;

        .card_text {
          font-size: 18px;
        }

        .card_container {
          display: flex;
          flex-wrap: wrap;

          gap: 15px;

          .tutoring_card {
            display: flex;
            flex-direction: column;

            width: 273px;
            height: 200px;

            border-radius: 10px;
            border: 1px solid lightgray;

            background-color: white;
            box-shadow: 0px 0px 5px 1px #0000000d;
            overflow: hidden;

            &:hover {
              box-shadow: 0px 1px 5px 2px #0000001f;
              transition: box-shadow 0.2s;

              cursor: pointer;
            }

            .tutor_img {
              width: 100%;
              height: 120px;
            }

            .tutor_info {
              display: flex;
              flex-direction: column;

              padding: 10px 15px;
              gap: 5px;

              .tutor_title {
                font-size: 18px;
                font-weight: 600;
              }
              
              .tutor_sub {
                display: flex;

                .tutor_subject {
                  font-size: 15px;

                  &:first-child::after {
                    content: '·';
                    padding: 0 7px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
