@import '../../variable.module';

.user_page {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 100vh;

  overflow-y: auto; 

  .profile_container {
    display: flex;

    width: 750px;
    padding: 20px;
    gap: 20px;

    border-bottom: 1px solid $border-light;

    .left_container {
      display: flex;
      flex-direction: column;

      padding: 10px 30px;
      gap: 25px;

      .user_img {
        width: $user-img-size;
        height: $user-img-size;

        border: 1px solid $border-light;
        border-radius: 23px;
      }
    }

    .right_container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      gap: 15px;

      .user_name {
        font-size: $font-size-lg;
      }

      .user_info {
        font-size: $font-size-md;
        color: $gray;
      }
    }
  }

  .tutoring_container {
    display: flex;
    flex-direction: column;

    width: 750px;
    padding: 25px 50px;
    gap: 20px;

    .tutoring_text {
      font-size: $font-size-card;
    }

    .tutoring_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      gap: 20px;

      .tutor_card {
        display: flex;
        flex-direction: column;

        width: $simple-card-width;
        padding: 10px;

        border-radius: 10px;
        border: 1px solid $border-light;

        background-color: $white;
        box-shadow: 0px 0px 5px 1px $shadow-default;

        &:hover {
          box-shadow: 0px 1px 5px 2px $shadow-dark;
          transition: box-shadow 0.2s;

          cursor: pointer;
        }

        .tutor_info {
          display: flex;
          flex-direction: column;

          padding: 10px 15px;
          gap: 10px;

          .tutor_title {
            font-size: $font-size-md;
            font-weight: 600;
          }

          .tutor_sub {
            display: flex;

            .tutor_subject {
              font-size: $font-size-xs;

              &:first-child::after {
                content: '·';
                padding: 0 7px;
              }
            }
          }
        }
      }
    }
  }
}
