@import '../variable.module';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  border-bottom: 1px solid $border-light;

  .header_item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: $main-width;
    height: $header-height;

    padding: 40px;

    .left_content {
      display: flex;
      align-items: center;

      gap: 30px;

      .logo {
        width: $logo-width;
      }

      .input_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 350px;
        height: 43px;

        padding: 0 15px;

        border-radius: 20px;
        border: 1px solid $border-dark;

        input {
          width: 280px;
          height: 30px;
          padding-left: 5px;

          border: none;
          outline: none;

          font-size: $font-size-sm;
          font-family: 'Noto Sans KR', sans-serif;
        }

        button {
          display: inline-block;

          width: 28px;
          height: 28px;
          border: none;

          background: $search-btn;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;

          cursor: pointer;
        }
      }
    }

    .user {
      width: $user-size;
      height: $user-size;

      border-radius: 100%;
      border: 1px solid $border-default;
      background-color: $white;

      cursor: pointer;
    }
  }
}
