.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  border-bottom: 1px solid lightgray;

  .header_item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 80%;
    height: 85px;

    padding: 40px;

    .left_content {
      display: flex;
      align-items: center;

      gap: 30px;

      .logo {
        width: 235px;
      }

      .input_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 350px;
        height: 43px;

        padding: 0 15px;

        border-radius: 20px;
        border: 1px solid rgb(74, 74, 74);

        input {
          width: 280px;
          height: 30px;
          padding-left: 5px;

          border: none;
          outline: none;

          font-size: 17px;
          font-family: 'Noto Sans KR', sans-serif;
        }

        button {
          display: inline-block;

          width: 28px;
          height: 28px;
          border: none;
          
          background: url('/image/search_icon.png');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;

          cursor: pointer;
        }
      }
    }

    .user {
      width: 43px;
      height: 43px;

      border-radius: 100%;
      border: 1px solid gray;
      background-color: white;

      cursor: pointer;
    }
  }
}
